<h4>
  <%=link_to "Product Manager", admin_products_path %> |
  <%=link_to "Section Manager", admin_sections_path %> |
  <%=link_to "User Manager", admin_products_path %> |
  <%=link_to "Order Manager", admin_sections_path %> |
</h4>
<hr>
<!--Use jquery to muck with which header is shown -->