<h4>
  <%=link_to t('.prod_man'), admin_products_path %> |
  <%=link_to t('.sect_man'), admin_sections_path %> |
  <%=link_to t('.user_man'), admin_users_path %> |
  <%=link_to t('.order_man'), admin_orders_path %> |
</h4>
<hr>
<!--Use jquery to muck with which header is shown -->