<!-- Populate a table row with section info and have a trash can shaped button to delete the section -->
<tr>
  <td>
    <h4><%= section.name %></h4>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, section], method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>