<h2>All product Sections</h2>
<%=render 'admin/adminNavbar' %>
<%= link_to 'New Section', [:new, :admin, :section]%>
<table>
  <thead>
    <tr>
      <th>Section</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @sections %>
  </tbody>
</table>

