<!-- Display the products of a given section relies on navbar dropdown to work to get to them-->
<h1 class="pageTitle"><%=@section.name %></h1>
<div class="productTable">
  <%= render @products%>
</div>