<h2>All products</h2>
<%=render 'admin/adminNavbar' %>
<%= link_to 'New Product', [:new, :admin, :product]%>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th></th>
      <th>Section</th>
      <th>Price</th>
      <th>Stock level</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

