<article class="product">
  <header>
    <%= link_to product do %>
      <%#= image_tag product.image, alt: product.name %>
      <h3><%= product.name %></h3>
    <%end%>
  </header>

  <p>
    Herp A derp
  </p>

  <footer>
  </footer>

  <aside>
  </aside>
</article>